.btn {
  border-radius: 5px;
  padding: 1.5rem 3rem;
  font-size: var(--fs-500);
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: var(--color-bg-primary);
    box-shadow: 1px 1px 2px var(--color-gray-4);
  }

  @include respond(mobile-xl) {
    font-size: 1.4rem;
    line-height: 3rem;
    padding: 1rem 3rem !important;
  }

  .left-icon {
    margin-right: 1rem;

    img {

      @include respond(mobile-l) {
        height: 1.5rem !important;
      }
    }

    @include respond(mobile-l) {
      margin-right: .5rem;
    }
  }

  .right-icon {
    margin-left: 1rem;

    img {

      @include respond(mobile-l) {
        height: 1.5rem !important;
      }
    }

    @include respond(mobile-xl) {
      margin-left: .5rem;
    }
  }

  &__primary {
    background-color: var(--color-bg-white);
    border: .2rem solid var(--color-gray-4);
  }

  &__outline {
    background-color: var(--color-bg-transparent);
    border: .18rem solid var(--color-primary-dark);
    color: var(--color-primary-dark);
  }
}