.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  width: var(--container-width);
  top: 0;
  position: absolute;

  @include respond(laptop-s) {
    display: block;
  }

  &__right {
    text-align: right;
    // display: block;

    @include respond(laptop-s) {
      text-align: center;
    }
  }

  &__left {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;

    @include respond(laptop-s) {
      justify-content: center;
      margin-bottom: 3rem;
    }
  }
}