:root {
  /************************************************
  *************************************************
    Color Variables
  *************************************************
  ************************************************/

  // Primary Colors
  --color-primary-dark: hsl(160, 91%, 25%);
  --color-primary-light: hsl(160, 90%, 32%);

  // Transparent Colors
  --color-primary-dark-transparent: hsla(160, 91%, 25%, 80%);
  --color-primary-light-transparent: hsla(160, 90%, 32%, 17%);
  --color-primary-blur-transparent: hsla(160, 90%, 92%, 40%);

  // Gray Colors
  --color-gray-1: hsl(0, 0%, 20%);
  --color-gray-2: hsl(0, 0%, 31%);
  --color-gray-3: hsl(0, 0%, 51%);
  --color-gray-4: hsl(0, 0%, 71%);
  --color-gray-5: hsl(0, 0%, 95%);
  --color-gray-6: hsl(0, 0%, 88%);

  // Background Colors
  --color-bg-white: hsl(0, 0%, 100%);
  --color-bg-transparent: transparent;
  --color-bg-primary: hsl(160, 91%, 95%);

  // Danger Colors
  --color-danger-1: hsl(0, 79%, 63%);

  // Text Colors
  --color-text-title: hsl(0, 0%, 20%);
  --color-text-body: hsl(0, 0%, 31%);

  // Neutral Colors
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 20%);

  /************************************************
  *************************************************
    Font Sizes
  *************************************************
  ************************************************/

  --fs-hd-900: 5.6rem;
  --fs-hd-800: 4rem;
  --fs-hd-700: 3rem;
  --fs-hd-600: 2.4rem;
  --fs-hd-500: 2rem;
  --fs-hd-400: 1.8rem;

  --fs-900: 2.8rem;
  --fs-800: 2.6rem;
  --fs-700: 2.4rem;
  --fs-600: 2rem;
  --fs-500: 1.8rem;
  --fs-400: 1.6rem;
  --fs-300: 1.4rem;
  --fs-200: 1.2rem;
  --fs-100: 1rem;

  /************************************************
  *************************************************
    Font Weight Variables
  *************************************************
  ************************************************/

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  // Conainer 
  --container-width: 80vw;
}